/* of course, I might want to change up my headers a lot, and maybe extract and reuse header, among other things... */

/* (I can refer to earlier attemps at whos playin to see the create react app css if I want) */

.App {
  /* (consider whether I actually want all text centered, such as inside the tables...) */
  text-align: center;
  background-color: white; /* #ffb84d #ffad33 #ff9900; */
  /*  (what is this?) */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  /* (what is this?) */
  font-size: calc(10px + 2vmin);
  /* color: #ffb84d; */
  color: #0066ff;
}

/* (could put a classname on links / a tags maybe?) */
/* did I not have the whos playin link in orange at some point?? */
/* I guess maybe not because the title below it is orange... */
.App a {
  color: #0066ff;
  /* should links change color after being clicked? on hover, etc? */
}

.header {
  background: #ffebcc;
  width: 95%;
  border-radius: 10px;
  margin-top: 10px;
  /* margin-top: inherit; */
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header-span {
  display: flex;
  align-items: flex-end;
}

.header-span a {
  padding-bottom: 10px;
}

.main {
  color: #ffb84d;
}

.main a {
  color: #ffb84d;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.description {
  font-size: 12px;
}

/* maybe can even do more to help with the spaces and breaks I think I remember having to put in.... */
.select {
  display: flex;
  align-items: top;
}

/* ? */
/* table, tr, td {empty-cells: show;} */
/* table {
  background-color: #dedede;
  border-radius: 10px;
} */
/* tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF} */
/* tr:nth-child(even) {background-color: #CCC} */
/* tr:nth-child(odd) {background-color: #FFF} */
tr:nth-child(odd) {
  /* background-color: #CCC; */
  /* background: #CCC; */
  background: #e6f0ff;
  /* background: #fff5e6; */
  /* border-radius: 10px; */
  /* border-radius: inherit; */
}
tr:nth-child(even) {
  /* background: #dedede; */
  background: #fff5e6;
  /* background: #e6f0ff; */
}
table, tr, td {
/* table {   */
/* table, tr { */
/* tr, td { */
  /* border: none; */
  /* border: 0px; */
  /* border:hidden; */
  border-collapse: collapse;
  /* border-radius: 10px; */
  empty-cells: show;
  /* empty-cells: hide; */
  /* empty-cells: initial; */
  /* empty-cells: inherit;   */
  /* border-bottom: 1px solid black; */
}
/* tr, td {
  border-collapse: collapse;
} */
table {
  /* border: 1px solid black; */
  /* border-bottom: 1px solid black; */
}
td {
  /* border-bottom: 1px solid black; */
  border-bottom: 1px solid white;
  /* padding: 10px 0 10px 0; */
  /* padding: 4px 5px; */
  padding: 4px 10px;
  /* padding: 4px; */
  /* margin: 3px; */
}
tr {
  /* padding-right: 10px; */
  /* margin: 3px; */
}
table {
  /* padding-right: 10px; */
  /* padding: 3px; */
  /* margin: 3px; */
}
/* td { */
/* tr { */
/* td, tr { */
td:nth-child(1) {
  /* border-collapse: collapse; */
  /* border: 0px; */
  /* border: none; */
  /* border: hidden; */
  /* border-radius: 10px; */
  /* border-radius: 10px 0 0 0;   */
  border-radius: 10px 0 0 10px; 
  padding-left: 12px; 
}
td:nth-last-child(1) {
/* td:nth-child(3) { */
/* td:nth-child(4) { */
  /* border-radius: 0 10px 0 0; */
  border-radius: 0 10px 10px 0;  
  padding-right: 12px;
  padding-left: 0px;
}
/* table, tr, td {empty-cells: show;} */
