/* of course, I might want to change up my headers a lot, and maybe extract and reuse header, among other things... */

/* (I can refer to earlier attemps at whos playin to see the create react app css if I want) */

.App {
  /* (consider whether I actually want all text centered, such as inside the tables...) */
  text-align: center;
  /* (try adding a background color?) */
  background-color: white; /* #ffb84d #ffad33 #ff9900; */
  /*  (what is this?) */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  /* (what is this?) */
  font-size: calc(10px + 2vmin);
  /* color: #ffb84d; */
  color: #0066ff;
}

/* should links change color after being clicked? on hover, etc? */
.App a {
  color: #0066ff;
}

.header {
  background: #ffebcc;
  width: 95%;
  border-radius: 10px;
  margin-top: 10px;
  /* margin-top: inherit; */
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header-span {
  display: flex;
  align-items: flex-end;
}

.header-span a {
  padding-bottom: 10px;
}

.main {
  color: #ffb84d;
}

.main a {
  color: #ffb84d;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

/* maybe can even do more to help with the spaces and breaks I think I remember having to put in.... */
/* (there are also selects on the create pages, but I don't think these styles are changing anything right now */
.select {
  display: flex;
  align-items: top;
}

.description {
  font-size: 12px;
}

table, tr, td {
  border-collapse: collapse;
  empty-cells: show;
}

/* (background vs. background-color?) */
tr:nth-child(odd) {
  background: #e6f0ff;
}

tr:nth-child(even) {
  background: #fff5e6;
}

td {
  border-bottom: 1px solid white;
  padding: 4px 10px;
}

td:nth-child(1) {
  border-radius: 10px 0 0 10px; 
  padding-left: 12px; 
}

td:nth-last-child(1) {
  border-radius: 0 10px 10px 0;  
  padding-right: 12px;
  padding-left: 0px;
}
